* { box-sizing: border-box; }

body, html {
    margin: 0;
    font-family: Arial;
    height: 100%;
}

header, footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000000;
    color: #ffe81f; 
    align-items: center;
    text-align: left;
    font-size: 14px;
}

.header-left h1 {
    font-size: 50px;
}

main {
    min-height: calc(100% - 100px);
    display: flex; 
    border: 1px solid #727070;
}

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex; 
    flex: 1;
}

.left-block {
    width: 25%;
    background: #222; 
    padding: 10px;
    border: 1px solid #727070;
}

.center-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #727070;
}

.up-center{
    background: #e7e7e7; 
    padding: 10px;
    min-height: calc(100% - 130px);
}

.bottom-center{
    display: flex;
    justify-content: space-between; 
    background-color: #222; 
    color: #fff;
    padding: 20px;
    gap: 20px;
    min-height: 130px;
}

.right-block {
    width: 20%;
    background: #222; 
    padding: 10px; 
    color: #e7e7e7;
}

h3 {
    margin-top: 0;
    color: #ffe81f; 
    font-size: 16px;
}

.bottom-center ul {
    margin: 0;
    padding: 0;
}

a{
    color: #ffe81f;
}

.up-center p {
    color: #4b1616;             
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1.6;      
    padding-left: 5px;
}