body {
    background-color: #727070;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header"
    "left content right"
    "left bottom right"
    "footer footer right";
    grid-template-rows: 100px minmax(0, 6fr) minmax(auto, 0.5fr) 100px;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    font-family: Arial;
}

header { grid-area: header; font-size: 14px;}
.left   { grid-area: left; background: #222; padding: 10px; }
.content{ grid-area: content; background: #e7e7e7; padding: 10px; }
.right  { grid-area: right; background: #222; padding: 10px; color: #e7e7e7;}
footer  { grid-area: footer; }

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000000;
    color: #ffe81f; 
    align-items: center;
    font-size: 20px;
    text-align: left;
}

header {
  font-size: 14px;
}

.header-left h1 {
  font-size: 50px;
}

footer {
  font-size: 12px;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between; 
  background-color: #222; 
  color: #fff;
  padding: 20px;
  gap: 20px;
}

h3 {
  margin-top: 0;
  color: #ffe81f; 
  font-size: 16px;
}

.bottom ul {
  margin: 0;
  padding: 0;
}

a{
  color: #ffe81f;
}

.content p {
    color: #4b1616;             
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1.6;      
    padding-left: 5px;
}





